{% load widget_tweaks staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="{% static 'libs/ace/ace.js' %}"></script>
    <script src="{% static 'libs/ace/theme-monokai.js' %}"></script>
    <script src="{% static 'libs/ace/mode-json.js' %}"></script>
    <script src="{% static 'libs/ace/mode-text.js' %}"></script>
    <script src="{% static 'libs/jquery-ace.min.js' %}"></script>

</head>
<body>
<br/>
<br/>
<br/>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {% render_field form.view_name class+='form-control' %}
        </div>
        <div class="form-group">
            {% render_field form.facebook_template class+='form-control' rows=25 %}
        </div>
        <button class="btn btn-primary" type="submit">Сохранить</button>
    </form>
</div>

<script>
    $('#id_facebook_template').ace({ theme: 'monokai', lang: 'json' })
</script>
</body>
</html>